@media screen and (max-width:1100px) {
    .header {
        .header__list {
            flex-wrap: wrap;
        }

        .header__header {
            font-size: 45px;
        }
    }

    .image {
        width: 50%;
    }

    .python {
        .python__content {
            flex-direction: column;
            align-items: center;
        }
        .python__description {
            width: 100%;
        }
    }

    .milk {
        .milk__content {
            flex-direction: column;
            align-items: center;
        }
        .milk__description {
            width: 100%;
        }
    }
    
    .gecko {
        .gecko__content {
            flex-direction: column;
            align-items: center;
        }
        .gecko__description {
            width: 100%;
        }
    }
    
    .iguana {
        .iguana__content {
            flex-direction: column;
            align-items: center;
        }
        .iguana__description {
            width: 100%;
        }
    }
}

@media screen and (max-width:740px) {
    .header {
        .header__list {
            flex-direction: column;
            align-items: center;
            .header__item {
                .header__link {
                    font-size: 25px;
                }
            }
            li {
                list-style-type: none;
                &:not(:last-child) {
                    margin-right: 0px;
                }
            }
        }
        .header__header {
            font-size: 40px;
            width: 100%;
        }
        .header__button {
            font-size: 20px;
        }
    }
}